.footer {
  background-color: #f6fbf9;
  text-align: center;
  padding: 20px 0;
  .logo {
    width: 100%;
    max-width: 120px;
    margin-bottom: 15px;
  }
  h4{
    font-size: 18px;
  }
  p{
      font-size: 14px;
      margin-bottom: 0;
  }
}
